body,
header,
div,
a,
span,
section,
p,
ul,
li,
footer,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:visited,
a:link {
  color: #ffffff;
}
ul {
  list-style-type: none;
}
section,
footer,
nav {
  border-radius: 15px;
}
section {
  background: white;
  margin-top: 25px;
  color: black;
}
body {
  font-family: Verdana;
  color: #ffffff;
  background: url(../imgs/main-bg3.jpg);
}
body #wrapper {
  width: 960px;
  margin: 0 auto;
  /*border: 2px solid red;*/
}
body #wrapper header {
  /*border: 1px solid white;*/
  overflow: hidden;
  width: 100%;
  vertical-align: central;
}
body #wrapper header a {
  float: left;
  margin-left: 30px;
}
body #wrapper header span {
  font-weight: bold;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}
body #wrapper nav {
  padding: 0 25px;
  background: #194e84;
}
body #wrapper nav ul {
  text-align: center;
  overflow: hidden;
  width: 100%;
}
body #wrapper nav ul li {
  float: left;
}
body #wrapper nav ul li a {
  display: block;
  padding: 20px 40px;
  font-weight: bold;
}
body #wrapper nav ul li a:hover {
  background: orange;
  color: black;
}
body #wrapper nav ul li ul {
  display: none;
  position: absolute;
  top: 139px;
  width: 200px;
  text-align: left;
  background: #194e84;
}
body #wrapper nav ul li ul li {
  float: none;
}
body #wrapper nav ul li:hover ul {
  display: block;
}
body #wrapper #main-section {
  /*border: 1px solid blue;*/
  margin-top: 25px;
  color: white;
}
body #wrapper #main-section #carrousel {
  width: 100%;
  overflow: hidden;
  height: 300px;
  background: url(../imgs/bg-image-1.jpg);
}
body #wrapper #main-section #carrousel #description {
  width: 350px;
  margin: 100px 50px;
}
body #wrapper #main-section #carrousel #image-container {
  display: none;
}
body #wrapper #main-section #carrousel #prev {
  display: none;
}
body #wrapper #main-section #carrousel #next {
  display: none;
}
body #wrapper #features {
  /*border: 1px solid purple;*/
  padding: 30px 30px;
  margin-top: 20px;
  overflow: hidden;
  background: #194e84;
  color: white;
}
body #wrapper #features ul li {
  width: 280px;
  height: 300px;
  float: left;
  margin-right: 10px;
  margin-left: 8px;
}
body #wrapper #features ul li .resume img {
  width: 100px;
  float: left;
  margin: 5px;
}
body #wrapper #about-section {
  color: black;
  overflow: hidden;
  border-radius: 15px;
}
body #wrapper #about-section header h2 {
  font-size: 2em;
  padding: 0 100px;
}
body #wrapper #about-section img {
  width: 250px;
  float: left;
  padding: 30px;
}
body #wrapper #about-section p {
  padding: 20px;
}
body #wrapper #about-section > footer {
  background: white;
}
body #wrapper #about-section > footer a {
  color: black;
  float: right;
  padding: 15px;
}
body #wrapper #services-section #services-list {
  overflow: hidden;
  text-align: center;
}
body #wrapper #services-section #services-list li {
  display: inline-block;
  margin: 0 20px;
}
body #wrapper #services-section #services-list li a {
  display: block;
  width: 250px;
  height: 200px;
}
body #wrapper #services-section #services-list li #service-1-anchor {
  background: url(../imgs/services-placeholder.png);
  background-position-x: 40px;
  background-repeat: no-repeat;
}
body #wrapper #services-section #services-list li #service-2-anchor {
  background: url(../imgs/services-placeholder.png);
  background-position-x: 40px;
  background-repeat: no-repeat;
}
body #wrapper #services-section #services-list li #service-3-anchor {
  background: url(../imgs/services-placeholder.png);
  background-position-x: 40px;
  background-repeat: no-repeat;
}
body #wrapper footer {
  margin-top: 20px;
  background: #194e84;
  padding: 5px 20px;
}
/*# sourceMappingURL=styles.css.map */