@default-font-fam: Verdana;
@default-font-size: 16px;
@default-font-color: white;
@alt-font-color: black;
@default-bgr-color: #1D4A31;
@alt-bgr-color: #3F602B;

.horizontalGradient (@top-color, @top-perc, @bottom-color, @bottom-perc) {
    background: @top-color; /* Old browsers */
    background: -moz-linear-gradient(top, @top-color @top-perc, @bottom-color @bottom-perc); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(@top-perc,@top-color), color-stop(@bottom-perc,@bottom-color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @top-color @top-perc,@bottom-color @bottom-perc); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @top-color @top-perc,@bottom-color @bottom-perc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @top-color @top-perc,@bottom-color @bottom-perc); /* IE10+ */
    background: linear-gradient(to bottom, @top-color @top-perc,@bottom-color @bottom-perc); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@top-color', endColorstr='@bottom-color',GradientType=0 ); /* IE6-9 */
}

// Resets
body, header, div, a, span, section, p, ul, li, footer, button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

    &:visited, &:link {
        color: @default-font-color;
    }
}

ul {
    list-style-type: none;
}



// Styling
section, footer, nav {
    border-radius: 5px;
}

section {
    background: white;
    margin-top: 25px;
    color: black;
}

body {
    font-family: @default-font-fam;
    color: @default-font-color;
    background: url(../imgs/big-colibri.jpg);

    #wrapper {
        width: 960px;
        margin: 0 auto;
        /*border: 2px solid red;*/
        header {
            /*border: 1px solid white;*/
            overflow: hidden;
            width: 100%;
            vertical-align: central;

            a {
                float: left;
                margin-left: 30px;
            }

            div {
                float: right;
                text-align: right;

                span {
                    font-weight: bold;
                    margin-right: 30px;
                    display: block;
                }

                #tel-span {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
            }
        }

        nav {
            padding: 0 25px;
            background: @alt-bgr-color;

            ul {
                text-align: center;
                overflow: hidden;
                width: 100%;

                li {
                    float: left;

                    a {
                        display: block;
                        padding: 20px 40px;
                        font-size:1em;
                        font-weight: bold;
                        transition: background 0.2s ease;

                        &:hover {
                            background: #659D32;
                            /*color: black;*/
                        }
                    }

                    ul {
                        display: none;
                        position: absolute;
                        top: 139px;
                        width: 400px;
                        text-align: left;
                        background: @alt-bgr-color;
                        border: 1px solid #659D32;
                        border-top: none;

                        li {
                            float: none;
                            border-bottom: 1px solid #659D32;

                            &:last-of-type {
                                border: none;
                            }
                        }
                    }

                    &:hover ul {
                        display: block;
                    }
                }
            }
        }

        // INDEX PAGE //
        #main-section {
            /*border: 1px solid blue;*/
            margin-top: 25px;
            color: white;

            #carrousel {
                width: 100%;
                overflow: hidden;
                height: 300px;
                background: url(../imgs/bg-image-1.jpg);
                transition: all 0.5s ease;

                #description {
                    width: 550px;
                    margin: 100px 50px;
                    font-size: 24px;                    
                }

                #image-container {
                    display: none;
                }

                #prev {
                    display: none;
                }

                #next {
                    display: none;
                }
            }
        }

        #features {
            /*border: 1px solid purple;*/
            padding: 30px 10px;
            margin-top: 20px;
            overflow: hidden;
            background: @alt-bgr-color;
            color: white;

            ul {

                li {
                    width: 280px;
                    /*height: 350px;*/
                    float: left;
                    margin-left: 8px;
                    border-radius:5px;
                    padding:10px 10px;
                    transition: background 0.2s ease;

                    a {
                        display:block;
                    }

                    &:hover {
                        background:#659D32;
                    }

                    .resume {

                        img {
                            width: 100px;
                            float: left;
                            margin: 5px;
                        }
                    }

                    #feature-2 {
                        ul {
                            list-style-type: disc;
                            padding-left:50px;

                            li {
                                height: auto;
                                font-weight:bold;

                                &:hover {
                                    background:none;
                                }
                            }
                        }
                    }

                    #feature-3 {

                        h2 {
                            padding-top: 20px;
                        }

                        ul {
                            list-style-type: disc;

                            li {
                                height: auto;
                                margin-bottom: 10px;

                                &:hover {
                                    background:none;
                                }
                            }
                        }
                    }
                }
            }
        }

        // ABOUT PAGE //
        #about-section {
            color: black;
            overflow: hidden;
            border-radius: 15px;

            header {

                h2 {
                    font-size: 2em;
                    padding: 0 100px;
                }
            }

            img {
                width: 250px;
                float: left;
                padding: 30px;
            }

            p {
                text-align: justify;
                padding: 20px;
            }

            & > footer {
                background: white;

                a {
                    color: black;
                    float: right;
                    padding: 15px;
                }
            }
        }

        // SERVICES PAGE //
        #services-section {

            #services-list {
                overflow: hidden;
                text-align: center;
                padding-top: 40px;

                li {
                    display: inline-block;
                    margin: 10px 20px;
                    .horizontalGradient(green, 0, white, 90%);
                    border-radius: 5px;
                    text-align: center;
                    transition: background 0.2s ease-in-out;

                    a {
                        display: block;
                        width: 300px;
                        height: 200px;
                        border-radius: 5px;

                        h2 {
                            color: black;
                        }

                        &:first-of-type {
                            margin-left: 35px;
                        }
                    }

                    &:hover {
                        background: #F0F0F0;
                    }

                    #service-1-anchor {
                        background: url(../imgs/ballpoint.png);
                        background-position-x: 120px;
                        background-position-y: 40px;
                        background-repeat: no-repeat;
                    }

                    #service-2-anchor {
                        background: url(../imgs/calc.png);
                        background-position-x: 70px;
                        background-position-y: 40px;
                        background-repeat: no-repeat;
                    }

                    #service-3-anchor {
                        background: url(../imgs/pen.png);
                        background-position-x: 70px;
                        background-position-y: 40px;
                        background-repeat: no-repeat;
                    }

                    #service-4-anchor {
                        background: url(../imgs/pencil-long.png);
                        background-position-x: 70px;
                        background-position-y: 40px;
                        background-repeat: no-repeat;
                    }

                    #service-5-anchor {
                        background: url(../imgs/pencil-short.png);
                        background-position-x: 90px;
                        background-position-y: 40px;
                        background-repeat: no-repeat;
                    }
                }
            }
        }

        #service-resume {
            padding:50px;

        }

        footer {
            margin-top: 20px;
            background: @alt-bgr-color;
            padding: 5px 20px;
        }
    }
}
