body,
header,
div,
a,
span,
section,
p,
ul,
li,
footer,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:visited,
a:link {
  color: #ffffff;
}
ul {
  list-style-type: none;
}
section,
footer,
nav {
  border-radius: 5px;
}
section {
  background: white;
  margin-top: 25px;
  color: black;
}
body {
  font-family: Verdana;
  color: #ffffff;
  background: url(../imgs/big-colibri.jpg);
}
body #wrapper {
  width: 960px;
  margin: 0 auto;
  /*border: 2px solid red;*/
}
body #wrapper header {
  /*border: 1px solid white;*/
  overflow: hidden;
  width: 100%;
  vertical-align: central;
}
body #wrapper header a {
  float: left;
  margin-left: 30px;
}
body #wrapper header div {
  float: right;
  text-align: right;
}
body #wrapper header div span {
  font-weight: bold;
  margin-right: 30px;
  display: block;
}
body #wrapper header div #tel-span {
  margin-top: 20px;
  margin-bottom: 10px;
}
body #wrapper nav {
  padding: 0 25px;
  background: #3f602b;
}
body #wrapper nav ul {
  text-align: center;
  overflow: hidden;
  width: 100%;
}
body #wrapper nav ul li {
  float: left;
}
body #wrapper nav ul li a {
  display: block;
  padding: 20px 40px;
  font-size: 1em;
  font-weight: bold;
  transition: background 0.2s ease;
}
body #wrapper nav ul li a:hover {
  background: #659D32;
  /*color: black;*/
}
body #wrapper nav ul li ul {
  display: none;
  position: absolute;
  top: 139px;
  width: 400px;
  text-align: left;
  background: #3f602b;
  border: 1px solid #659D32;
  border-top: none;
}
body #wrapper nav ul li ul li {
  float: none;
  border-bottom: 1px solid #659D32;
}
body #wrapper nav ul li ul li:last-of-type {
  border: none;
}
body #wrapper nav ul li:hover ul {
  display: block;
}
body #wrapper #main-section {
  /*border: 1px solid blue;*/
  margin-top: 25px;
  color: white;
}
body #wrapper #main-section #carrousel {
  width: 100%;
  overflow: hidden;
  height: 300px;
  background: url(../imgs/bg-image-1.jpg);
  transition: all 0.5s ease;
}
body #wrapper #main-section #carrousel #description {
  width: 550px;
  margin: 100px 50px;
  font-size: 24px;
}
body #wrapper #main-section #carrousel #image-container {
  display: none;
}
body #wrapper #main-section #carrousel #prev {
  display: none;
}
body #wrapper #main-section #carrousel #next {
  display: none;
}
body #wrapper #features {
  /*border: 1px solid purple;*/
  padding: 30px 10px;
  margin-top: 20px;
  overflow: hidden;
  background: #3f602b;
  color: white;
}
body #wrapper #features ul li {
  width: 280px;
  /*height: 350px;*/
  float: left;
  margin-left: 8px;
  border-radius: 5px;
  padding: 10px 10px;
  transition: background 0.2s ease;
}
body #wrapper #features ul li a {
  display: block;
}
body #wrapper #features ul li:hover {
  background: #659D32;
}
body #wrapper #features ul li .resume img {
  width: 100px;
  float: left;
  margin: 5px;
}
body #wrapper #features ul li #feature-2 ul {
  list-style-type: disc;
  padding-left: 50px;
}
body #wrapper #features ul li #feature-2 ul li {
  height: auto;
  font-weight: bold;
}
body #wrapper #features ul li #feature-2 ul li:hover {
  background: none;
}
body #wrapper #features ul li #feature-3 h2 {
  padding-top: 20px;
}
body #wrapper #features ul li #feature-3 ul {
  list-style-type: disc;
}
body #wrapper #features ul li #feature-3 ul li {
  height: auto;
  margin-bottom: 10px;
}
body #wrapper #features ul li #feature-3 ul li:hover {
  background: none;
}
body #wrapper #about-section {
  color: black;
  overflow: hidden;
  border-radius: 15px;
}
body #wrapper #about-section header h2 {
  font-size: 2em;
  padding: 0 100px;
}
body #wrapper #about-section img {
  width: 250px;
  float: left;
  padding: 30px;
}
body #wrapper #about-section p {
  text-align: justify;
  padding: 20px;
}
body #wrapper #about-section > footer {
  background: white;
}
body #wrapper #about-section > footer a {
  color: black;
  float: right;
  padding: 15px;
}
body #wrapper #services-section #services-list {
  overflow: hidden;
  text-align: center;
  padding-top: 40px;
}
body #wrapper #services-section #services-list li {
  display: inline-block;
  margin: 10px 20px;
  background: #008000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #008000 0, #ffffff 90%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #008000), color-stop(90%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #008000 0, #ffffff 90%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #008000 0, #ffffff 90%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #008000 0, #ffffff 90%);
  /* IE10+ */
  background: linear-gradient(to bottom, #008000 0, #ffffff 90%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  text-align: center;
  transition: background 0.2s ease-in-out;
}
body #wrapper #services-section #services-list li a {
  display: block;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
body #wrapper #services-section #services-list li a h2 {
  color: black;
}
body #wrapper #services-section #services-list li a:first-of-type {
  margin-left: 35px;
}
body #wrapper #services-section #services-list li:hover {
  background: #F0F0F0;
}
body #wrapper #services-section #services-list li #service-1-anchor {
  background: url(../imgs/ballpoint.png);
  background-position-x: 120px;
  background-position-y: 40px;
  background-repeat: no-repeat;
}
body #wrapper #services-section #services-list li #service-2-anchor {
  background: url(../imgs/calc.png);
  background-position-x: 70px;
  background-position-y: 40px;
  background-repeat: no-repeat;
}
body #wrapper #services-section #services-list li #service-3-anchor {
  background: url(../imgs/pen.png);
  background-position-x: 70px;
  background-position-y: 40px;
  background-repeat: no-repeat;
}
body #wrapper #services-section #services-list li #service-4-anchor {
  background: url(../imgs/pencil-long.png);
  background-position-x: 70px;
  background-position-y: 40px;
  background-repeat: no-repeat;
}
body #wrapper #services-section #services-list li #service-5-anchor {
  background: url(../imgs/pencil-short.png);
  background-position-x: 90px;
  background-position-y: 40px;
  background-repeat: no-repeat;
}
body #wrapper #service-resume {
  padding: 50px;
}
body #wrapper footer {
  margin-top: 20px;
  background: #3f602b;
  padding: 5px 20px;
}
/*# sourceMappingURL=styles.css.map */